nav{

}

nav > .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

nav > .container > *{
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav > .container > .utils {
    gap: 1.5rem;
}
nav > .container > .menu{
    gap: 2.25rem;
}
nav > .container > .utils > .languages{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 0 1.5rem;
}