{% extends "base.html" %}
{% load cart_filters static %}
{% block styles %}
    <link rel="stylesheet" href="{% static '/common/css/cart_detail.css' %}">
    <script src="https://code.jquery.com/jquery-3.7.0.js"></script>
{% endblock styles %}
{% block title %}
    Корзина
{% endblock title %}
{% block content %}
    <div class="container cart-detail">
        <div class="main">
            <div class="title-block">
                <div class="title">Корзина</div>
                {% if cart_items %}
                    <div class="clear-cart"><a href="{% url 'store:clear_cart' cart_id=cart_id %}">Очистить корзину</a>
                    </div>
                {% endif %}
            </div>
            {% if errors %}
                <div class="errors">
                    <label>
                        <input type="checkbox" class="alertCheckbox" autocomplete="off"/>
                        <div class="alert error">
                            <div class="alertText">
                            {% for error in errors %}
                                <div style="width: 100%;">{{ error }}</div>
                            {% endfor %}</div>
                        </div>
                    </label>
                </div>
            {% endif %}

            {% if cart_items %}
                <div class="cart-items">
                    {% for cart_item in cart_items %}
                        <div class="cart-item">
                            <div class="main">
                                <div class="image">
                                    <img src="{{ cart_item.product.image.url }}" alt="">
                                </div>
                                <div class="text">
                                    <div class="name__description">
                                        <div class="name">{{ cart_item.product.name }}</div>
                                        <div class="description">{{ cart_item.product.description }}</div>
                                    </div>
                                    <div class="price-quantity">
                                        <div class="price">{{ cart_item.product.price| price_filter }} ₸</div>
                                        <div class="quantity">
                                            <form method="post" action="{% url 'store:update_cart' cart_item.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="quantity"
                                                       value="{{ cart_item.quantity|default:0 }}">
                                                <button type="submit" class="decrement btn" name="action"
                                                        value="decrement"><img
                                                        src="{% static 'common/images/minus.svg' %}"
                                                        alt="minus"></button>
                                            </form>
                                            <div class="quantity__count">
                                                <div class="count">{{ cart_item.quantity }} шт</div>
                                            </div>
                                            <form method="post" action="{% url 'store:update_cart' cart_item.id %}">
                                                {% csrf_token %}
                                                <input type="hidden" name="quantity"
                                                       value="{{ cart_item.quantity|default:1 }}">
                                                <button type="submit" class="increment btn" name="action"
                                                        value="increment"><img
                                                        src="{% static 'common/images/plus.svg' %}"
                                                        alt="plus">
                                                </button>
                                            </form>


                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="status-delete">
                                <div class="status">на заказ</div>
                                <form method="post" action="{% url 'store:remove_from_cart' cart_item.id %}">
                                    {% csrf_token %}
                                    <button type="submit" class="remove">
                                        <img src="{% static 'common/images/trash.svg' %}" alt="remove">
                                    </button>
                                </form>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="empty-cart">Ваша корзина пуста <p>Вы можете перейти на <a href="{% url 'store:index' %}"
                                                                                      style="color: #7BAF21">главную
                    страницу</a></p></div>
            {% endif %}
        </div>
        {% if cart_items %}

            <div class="side">
                <div class="search"><input type="text" placeholder="Поиск"></div>
                <form action="{% url 'store:create_order' %}" method="post">
                    {% csrf_token %}
                    <div class="delivery">
                        <div class="title">Способ доставки</div>
                        <div class="delivery_types">
                            <div class="type">
                                <div class="content">
                                    <div class="ico"><img src="{% static 'common/images/samovyvoz.svg' %}" alt=""></div>
                                    <div class="text">
                                        <div class="title">Самовывоз (бесплатно)</div>
                                        <div class="text">г.Нур-Султан, ул. Аль-Фараби 87/1</div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <input type="radio" name="delivery" value="0" checked>
                                </div>
                            </div>
                            <div class="type">
                                <div class="content">
                                    <div class="ico"><img src="{% static 'common/images/dostavka.svg' %}" alt=""></div>
                                    <div class="text">
                                        <div class="title">Доставка</div>
                                        <div class="text">Выберите адрес</div>
                                    </div>
                                </div>
                                <div class="checkbox">
                                    <input type="radio" name="delivery" value="1">
                                </div>
                            </div>
                        </div>
                        <div class="form" id="delivery-form" style="display: none">
                            <div class="input-box">
                                <label for="city">Город</label>
                                <input id="city" type="text" name="city" autocomplete="off">
                            </div>
                            <div class="input-box">
                                <label for="street">Улица</label>
                                <input id="street" type="text" name="street" autocomplete="off">
                            </div>
                            <div class="input-box">
                                <label for="house">Дом / Офис</label>
                                <input id="house" type="text" name="house_number" autocomplete="off">
                            </div>
                            <div class="input-box">
                                <label for="number">Контактный номер</label>
                                <input id="number" type="tel" name="phone_number" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="result">
                        <div class="title">Сумма к оплате</div>
                        <div class="bill">
                            <div class="group">
                                <div class="price field">
                                    <div class="name">{{ cart_items | total_quantity }} товаров на сумму</div>
                                    <div class="value">{{ cart_items | total_price | price_filter }} ₸</div>
                                </div>
                                <div class="delivery-price field">
                                    <div class="name">Доставка</div>
                                    <div class="value">{{ delivery_price | price_filter}} ₸</div>
                                </div>
                            </div>
                            <div class="total-price">
                                <div class="name">С учетом НДС</div>
                                <div class="value">{{ cart_items | total_price | result_price:delivery_price | price_filter}} ₸</div>
                            </div>
                        </div>
                        <div class="submit">
                            <button>Оформить заказ</button>
                        </div>
                    </div>
                </form>
            </div>
        {% endif %}
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const deliveryInputs = document.querySelectorAll('input[name="delivery"]');
            const deliveryForm = $('#delivery-form');

            function toggleForm() {
                if (this.value === '1') {
                    deliveryForm.slideDown();
                } else {
                    deliveryForm.slideUp();
                }
            }

            deliveryInputs.forEach(function (input) {
                input.addEventListener('change', toggleForm);
            });
        });
    </script>


{% endblock %}