{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static '/common/css/home.css' %}">
{% endblock styles %}
{% block content %}
    <div class="container home">
        <div class="side">
            <div class="categories">
                {% for category in categories %}
                        <a href="{% url 'store:category_detail' category.id %}"> <div class="category">{{ category.name }}</div></a>
                {% endfor %}
            </div>
            <div class="filters">
                <div class="title">Фильтр</div>
                <div class="filter">
                    <div class="title">Бренд</div>
                    <div class="element">Spectra</div>
                    <div class="element">Arman</div>
                </div>
            </div>
        </div>
        <div class="base">
            <div class="title"></div>
            {% for product in products %}
                <div class="product">
                    {{ product }}
                </div>
                {% if user.is_authenticated %}
                    <form action="{% url 'store:add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit">Add to Cart</button>
                    </form>
                {% endif %}
            {% endfor %}
        </div>
        
    </div>
{% endblock %}