{% extends 'base.html' %}
{% load static  cart_filters %}
{% block title %}Home{% endblock title %}
{% block styles %}
    <link rel="stylesheet" href="{% static '/common/css/home.css' %}">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <link href="{% static 'common/js/nouislider.css' %}" rel="stylesheet">

{% endblock styles %}
{% block content %}
    <div id="myModal" class="modal">
        <div class="modal-content">
            <p id="modalMessage"></p>
        </div>
    </div>
    <div class="container home">
        <div class="side">
            <div class="categories">
                {% for category in categories %}
                    <div class="category {% if category == category_active %}active{% endif %}"
                         onclick="location.href='{% url 'store:category_detail' category.id %}';">{{ category.name }}</div>
                {% endfor %}
            </div>
            <div class="filters">
                <form action="{% url 'store:category_detail' category.id|default:category_active.id %}" method="get">
                    <div class="title">Фильтр</div>
                    <div class="filter brands">
                        <div class="filter__title">Бренд</div>
                        <div class="filter__body">
                            {% for brand in filter.brands %}
                                <div class="custom-checkbox">
                                    {% if 'brand' in request.GET and brand|string in request.GET|get_list:'brand' %}
                                        <input class="brand_check popup-trigger" type="checkbox" name="brand"
                                               value="{{ brand }}"
                                               checked>
                                    {% else %}
                                        <input class="brand_check popup-trigger" type="checkbox" name="brand"
                                               value="{{ brand }}">
                                    {% endif %}
                                    <div class="brand">{{ brand }}</div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="filter price">
                        <div class="filter__title">Цена, ₸</div>
                        <div class="filter__body">
                            <div class=""><input type="text" name="min_price" id="min_price" class="popup-trigger"
                                                 placeholder=""></div>
                            <div class=""><input type="text" name="max_price" id="max_price" class="popup-trigger"
                                                 placeholder=""></div>
                        </div>
                        <div class="price__slider">

                            <div id="slider"></div>
                            <script src="{% static 'common/js/nouislider.js' %}"></script>
                            <script>
                                var slider = document.getElementById('slider');

                                noUiSlider.create(slider, {
                                    start: [{{ filter.min_price|default:5000 }}, {{ filter.max_price|default:99999 }}],
                                    connect: true,
                                    range: {
                                        'min': [5000],
                                        'max': [99999]
                                    }
                                });
                                const min_price = document.getElementById('min_price');
                                const max_price = document.getElementById('max_price');

                                const inputs = [min_price, max_price];

                                slider.noUiSlider.on('update', function (values, handle) {
                                    inputs[handle].value = Math.round(values[handle])
                                })
                            </script>
                        </div>
                    </div>
                    {% for i in characteristics %}
                        <p>1</p>
                    {% endfor %}
                    {% for characteristic_title, characteristic_values in filter.characteristics.items %}
                        <div class="filter characteristics">
                            <div class="filter__title">{{ characteristic_title }}</div>
                            <div class="filter__body">
                                {% for value in characteristic_values %}
                                    <div class="check">
                                        {% with combined_char=characteristic_title|combine:value %}
                                            {% if 'characteristic' in request.GET and combined_char in request.GET|get_list:'characteristic' %}
                                                <input type="checkbox" class="popup-trigger"
                                                       id="check_{{ forloop.parentloop.counter0 }}_{{ forloop.counter }}"
                                                       name="characteristic"
                                                       value="{{ characteristic_title }}|{{ value }}"
                                                       checked>
                                            {% else %}
                                                <input type="checkbox" class="popup-trigger"
                                                       id="check_{{ forloop.parentloop.counter0 }}_{{ forloop.counter }}"
                                                       name="characteristic"
                                                       value="{{ characteristic_title }}|{{ value }}">
                                            {% endif %}
                                        {% endwith %}
                                        <label class="value"
                                               for="check_{{ forloop.parentloop.counter0 }}_{{ forloop.counter }}">{{ value }}</label>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}



                    <div id="popup-container" style="" class="pop_up_submit">
                        <button type="submit" id="popup-submit" class="form-button">Применить фильтр</button>
                    </div>
                </form>


            </div>
        </div>
        <div class="base">
            <div class="head">
                <div class="title">{{ category_active }}</div>
                <div class="input"></div>
            </div>
            <div class="status">
                <div class="buttons">
                    <div class="button active">Все</div>
                    <div class="button">Товары со склада</div>
                    <div class="button">На заказ</div>
                </div>
                <div class="sort">Сортировка</div>
            </div>
            <div class="products">
                {% for product in products %}
                    <div class="product">
                        <div class="image"><img src="{{ product.image.url }}" alt=""></div>
                        <div class="title"><a href="{% url 'store:product_detail' product.pk %}">{{ product }}</a></div>
                        <div class="quantity">В наличии {{ product.quantity }} шт</div>
                        <div class="footer">
                            <div class="price">{{ product.price | price_filter }} ₸</div>
                            {% if user.is_authenticated %}
                                <form data-product-id="{{ product.id }}" method="post" class="add-to-cart-form">
                                    {% csrf_token %}
                                    <button type="button" class="add-to-cart-btn"><img
                                            src="{% static 'common/images/add2cart.svg' %}" alt="add to cart"></button>
                                </form>
                            {% endif %}
                        </div>

                    </div>

                {% endfor %}
            </div>

        </div>

    </div>
    <script>
        $(document).ready(function () {
            $('.add-to-cart-btn').on('click', function () {
                var productId = $(this).closest('.add-to-cart-form').data('product-id');
                $.ajax({
                    url: "{% url 'store:add_to_cart' 0 %}".replace(0, productId),
                    method: 'post',
                    data: $(this).closest('.add-to-cart-form').serialize(),
                    success: function (data) {
                        // Add a custom alert here with a timeout
                        showModal('Ваш продукт добавлен в корзину', 1000);
                    },
                    error: function (error) {
                        console.error('Ошибка при добавлении продукта:', error);
                    }
                });
            });

            // Function to display custom alerts using a modal
            function showModal(message, duration) {
                $('#modalMessage').text(message);
                $('#myModal').css('display', 'flex');

                // Set a timeout to hide the modal after the specified duration
                setTimeout(function () {
                    $('#myModal').css('display', 'none');
                }, duration);
            }

            // Close the modal when the user clicks on the close button (x)
            $('.close').on('click', function () {
                $('#myModal').css('display', 'none');
            });

            // Close the modal if the user clicks anywhere outside of it
            $(window).on('click', function (event) {
                if (event.target == $('#myModal')[0]) {
                    $('#myModal').css('display', 'none');
                }
            });
        });
    </script>
    <script>
        // Function to show the popup container below the modified field
        function showPopupContainer(triggerField) {
            // Find the corresponding filter body element
            var filterBody = triggerField.closest('.filter').querySelector('.filter__body');
            // Show the popup container below the filter body
            var popupContainer = document.getElementById('popup-container');
            popupContainer.style.top = (filterBody.offsetTop + filterBody.offsetHeight) + 'px';
            popupContainer.classList.add('show'); // Add the 'show' class
        }

        // Function to hide the popup container
        function hidePopupContainer() {
            var popupContainer = document.getElementById('popup-container');
            popupContainer.classList.remove('show'); // Remove the 'show' class
        }

        // Add event listeners to the input fields
        document.querySelectorAll('.popup-trigger').forEach(function (input) {
            input.addEventListener('input', function () {
                showPopupContainer(this); // Pass the triggering input field to the showPopupContainer function
            });
        });

        // Get the slider element
        var slider = document.getElementById('slider');

        // Add an event listener to the slider for change events
        slider.noUiSlider.on('change', function (values, handle) {
            showPopupContainer(this); // Pass the slider element to the showPopupContainer function
        });
    </script>

{% endblock %}