{% extends "base.html" %}
{% block title %}
    Мои заказы
{% endblock title %}

{% block content %}
    <div class="container">
        <h1>Мои заказы</h1>
        {% if orders %}
            <ul>
                {% for order in orders %}
                    <li>
                        Заказ №{{ order.id }}<br>
                        Дата создания: {{ order.created }}<br>
                        Статус: {% if order.paid and order.completed %}Завершен{% elif order.paid %}Оплачен{% else %}Не оплачен{% endif %}<br>
                        <a href="#">Подробности заказа</a>
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>У вас пока нет заказов.</p>
        {% endif %}
    </div>
{% endblock %}
